<nav>
	<div class="nav_logo col-xs-10 col-xs-offset-1">
		<img src="img/logo_alb.png">
	</div>
	<ul>
		<li class="menu_item" ng-class="{active: tab == 'mese'}" ng-click="changeLocation('mese')">
			Mese
		</li>
		<hr>
		<li class="menu_item" ng-class="{active: tab == 'rezervari'}" ng-click="changeLocation('rezervari')">
			Rezervări
		</li>
		<hr>
		<li class="menu_item" ng-class="{active: tab == 'edit'}" ng-click="changeLocation('edit')">
			Editează profilul
		</li>
		<hr>
		<li class="menu_item" ng-class="{active: tab == 'promo'}" ng-click="changeLocation('promo')">
			Promoții
		</li>
		<hr>
	</ul>
</nav>

<div class="content" ng-switch="tab">
     <group-table-directive pub-id="vm.pub_id" ng-switch-when="mese"></group-table-directive>
     <group-reservations-directive class="content_rezervari" ng-switch-when="rezervari"></group-reservations-directive>
     <edit-profile-directive class="content_editeaza" ng-switch-when="edit"></edit-profile-directive>
     <div class="content_promotii" ng-switch-when="Promotii"> </div>
</div>