<nav>
	<div class="nav_logo">
	</div>
		<ul>
			<li class="menu_item" ng-class="{active: tab == 'Mese'}" ng-click="tab='Mese'">Mese</li>
			<hr>
			<li class="menu_item" ng-class="{active: tab == 'Rezervari'}" ng-click="tab='Rezervari'">Rezervări</li>
			<hr>
			<li class="menu_item" ng-class="{active: tab == 'Editeaza'}" ng-click="tab='Editeaza'">Editează profilul</li>
			<hr>
			<li class="menu_item" ng-class="{active: tab == 'Promotii'}" ng-click="tab='Promotii'">Promoții</li>
			<hr>
		</ul>
</nav>

<div class="content" ng-switch="tab">
     <div class="content_mese" ng-switch-when="Mese"> </div>
     <div class="content_rezervari" ng-switch-when="Rezervari"> </div>
     <div class="content_editeaza" ng-switch-when="Editeaza"> </div>
     <div class="content_promotii" ng-switch-when="Promotii"> </div>
</div>